/* 어떤 요소든 classnames를 주면 그 요소를 숨김 */
.hidden {
  display: none;
}

body {
  width: 100%;
  padding: 0%;
  margin: auto;
  font-size: 25px;
  background-color: rgb(80, 80, 150);
  color: white;
  font-style: italic;
}
